################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UsingAspNetCore10/.vs/GraphQLTraining/FileContentIndex
